body {
    font-family: Arial, sans-serif;
    background-image: url(https://media.istockphoto.com/id/1285308242/photo/to-do-list-text-on-notepad.jpg?s=612x612&w=0&k=20&c=p85bCVQZwvkrqqqNOJGg2QuPDu6ynTlQHkASQOTELh8=);
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    background-color: #493838;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.task-input {
    display: flex;
    justify-content: space-between;
}

#tasksList {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

#tasksList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.overdue {
    text-decoration: line-through;
    color: red;
}
